services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    env_file: .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./backend:/app
    command: >
      sh -c "alembic upgrade head && python -m app.seed && flask run --host=0.0.0.0 --port=5001 --debug"

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
